body{
    background-color: rgb(20,20,20);
    margin:0px;
}

#landing{
    height: 100vh;
}

.detail{
    color: white;
    font-size: 3rem;
    font-family:'Helvetica', serif;
    text-decoration: none;

    display:block;

    transition: opacity 600ms ease;
}

#details {
    margin-left: 6.2vw;
    position:relative;
    z-index: 2;
    max-width: 6rem;
    white-space: nowrap;
}

#details:hover > .detail {
    opacity: 0.3;
}

#details:hover > .detail:hover {
    opacity: 1;
}

#landing-picture {
    height: 100%;
    width: 100%;

    background-image: url("duck.jpg");

    position: absolute;
    left: 0px;
    top: 0px;
    z-index:0;

    background-position: center 40%;
    background-size: 110vmax;

    opacity: 0.15;

    transition: opacity 800ms ease, background-size 1000ms ease, background-position 1000ms ease;
}

#details:hover ~ #landing-picture {
    background-size: 100vmax;
    opacity: 0.7;
}

#landing[data-activeIndex='0'] > #landing-picture {
    background-position: 0% 50%;
}

#landing[data-activeIndex='1'] > #landing-picture {
    background-position: 0% 75%;
}

#landing[data-activeIndex='2'] > #landing-picture {
    background-position: 0% 100%;
}

#page-about-me {
    display: none;
    color:white;
}

#name-title {
    color:white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family:'Helvetica', serif;
    padding: 0.5vw;
    display:block;

    padding-top:4vw;
    padding-left:4vw;
}

#details:hover > #name-title {
    opacity:0.3;
}

#self-desc{
    color:white;
    font-size:1.5rem;
    font-family:'Helvetica', serif;
    padding:0.5vw;
    display:block;

    padding-left:5vw;
}